{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Modification d'un véhicule</h1>

    {{ include('voitures/_form.html.twig', {'button_label': 'Mettre à jour'}) }} <br>
    {{ include('voitures/_delete_form.html.twig') }}

    <a href="{{ path('app_voitures_index') }}">Retour</a>

{% endblock %}
