{% extends 'base.html.twig' %}

{% block title %}Ajout voitures{% endblock %}

{% block body %}
    <h1>Ajout nouvelle voiture</h1>

    {{ include('voitures/_form.html.twig') }}

    <a href="{{ path('app_voitures_index') }}">Retour</a>
{% endblock %}
