$theme-colors: (
  $text: #000000;
  $text-header: 
  $background: #ffffff;
  $primary: #D90429;
  $secondary: #d2ccbe;
  $accent: #F6C23E;
  
  
);

// customize some Bootstrap variables

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

// Custom typography class
.custom-typography {
  font-family: "Handlee", cursive;
}