
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
scroll-padding-top: 1rem;
scroll-behavior: smooth;
list-style: none;
box-sizing: border-box;
text-decoration: none;
}

body{
	background: #000;
}

/*Variables*/

:root{
--main-color:#d90429;
--text-color:#020102;
--bg-color:#ffffff;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
width: 0.5rem;
background: transparent;
}

html::-webkit-scrollbar-thumb{
border-radius: 5rem;
background: var(--text-color);
}
section{
padding: 4rem 0 2rem;

}

img{
width: 100%;
}

body{
color: var(--text-color);
}

.container{
max-width: 1068px;
margin-left: auto;
margin-right: auto;
}

header{
display: block;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 100;
}

header.shadow{
background-color: var(--bg-color);
box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
transition: 0.5s ease;
}

header.shadow #search-icon{
color: var(--text-color);
}
.nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 35px;
}

#menu-icon{
font-size: 24px;
cursor: pointer;
color: var(--text-color);
display: none;
}

.logo{
font-size: 1.2rem;
font-weight: 700;
color: var(--text-color);
}


.logo span{
color: var(--main-color);
}

.navbar{
text-decoration-line: none;
list-style: none;
display: flex;
column-gap: 2rem;
}

.navbar a{
color: var(--text-color);
font-size: 1rem;
text-transform: uppercase;
font-weight: 500;

}

.navbar a:hover,
.navbar .active{
color: var(--main-color);
border-bottom: 3px solid var(--main-color);
}

.home{

width: 100%;
background: url(/img/Background-home.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center left;
}

.home-text{
padding-left: 130px;
}

.home-text h1{
font-size: 2.4rem;
}


#home-text span{
color: var(--main-color);
}

.home-text p{
font-size: 0.938rem;
font-weight: 300;
margin: 0.5rem 0 1.2rem;
}

.btn{
padding: 10px 50px;
background: var(--main-color);
color: var(--bg-color);
font-weight: 400;
}

.btn:hover{
background: #3e7ec7c5;

}

.heading{
text-align: center;
}

.heading2{
    
    text-align: center;

}


.heading span{
font-weight: 500;
color: var(--main-color);
}

.heading p{
font-size: 0.938rem;
font-weight: 300;
}


.cars-container{
display: flex;
flex-wrap: wrap;
gap: 2rem;
margin-top: 2rem;

}

.cars-container .box{
flex: 1 1 17rem;
position: relative;
height: 200px;
border-radius: 0.5rem;
overflow: hidden;
}

.cars-container .box img{
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}

.cars-container .box img:hover{
transform: scale(1.1);
transition: 0.5s;

}

.cars-container .box h2{
position: absolute;
bottom: 1rem;
left: 1rem;
font-weight: 400;
font-size: 1rem;
background-color: var(--bg-color);
padding: 8px;
border-radius: 0.5rem;

}

.cars-container  .box:hover h2{
background: var(--main-color);
color: var(--bg-color);
}


.about{
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 1.5rem;

}

.about-img{
flex: 1 1 21rem;
}

.about-text{
flex: 1 1 21rem;
}


.about-text span{
font-weight: 500;
color: var(--main-color);
}

.about-text h2{
font-size: 1.7rem;
}

.about-text p{
font-size: 0.938rem;
margin: 0.5rem 0 1.4rem;
}


.parts-container{
display: flex;
flex-wrap: wrap;
gap: 2rem;
margin-top: 2rem;
}

.parts-container .box{
flex: 1 1 17rem;
position: relative;
padding: 20px;
display: flex;
flex-direction: column;
background: #f5f4f400;
border-radius: 0.5rem;

}

.parts-container .box img{
width: 100%;
height: 150px;
object-fit: contain;
object-position: center;
margin-bottom: 1rem;
}

.parts-container .box h2{
font-size: 1.1rem;
font-weight: 600;
}

.parts-container .box span{
font-size: 1.1rem;
font-weight: 600;
color: var(--main-color);
}

.parts-container .box .bx{
color: var(--main-color);
margin: 0.8rem 0;
}

.parts-container .box .btn{
max-width: 120px;
}


.parts-container .box .panier{
display: flex;
align-items: center;
position: absolute;
bottom: 1.2rem;
right: 1rem;
font-size: 1rem;
color: #020102;

/* padding: 10px 22px; */
background: var(--main-color);
color: var(--bg-color);
font-weight: 400;

border-radius: 18%;
width: 100px;
height: 40px;
  
}

.parts-container .box .panier:hover{
color: var(--main-color);
text-decoration: underline;

background: #136ed6;
}

/* CARS */

.parts-container .boxcar{
  flex: 1 1 17rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f1f1f100;
  border-radius: 0.5rem; 
  }

.parts-container .boxcar span{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  }

  /* fin box car */

.footer{
background: var(--text-color);
color: #f6f6f6;
border-top: 2px solid var(--main-color);
}

.footer-container{
display: flex;
justify-content: space-between;
gap: 1rem;
}

.footer-container .logo{
text-decoration: none;
color: var(--bg-color);
margin-bottom: 1rem;

}

.footer-container .footer-box{
display: flex;
flex-direction: column;
}


.social{
display: flex;
align-items: center;
}

.social a{
font-size: 24px;
color:var(--bg-color);
margin-right: 1rem;
}


.social a:hover{
color: var(--main-color);
}


.footer-box h3{
font-size: 1.1rem;
font-weight: 400;
margin-bottom: 1rem;

}


.footer-box p:hover{
color: var(--main-color);
}


.footer-box a,
.footer-box p{
color: #818181;
margin-bottom: 10px;

}


.footer-box a:hover{
color: var(--main-color);
}


.copyright{
padding: 20px;
text-align: center;
color: var(--bg-color);
background: var(--text-color);
}

.copyright p:hover{
color: var(--main-color);
}


/* Making Responsive */
@media (max-width: 1080px) {
.container {
margin-left: 1rem;
margin-right: 1rem;
}
}
@media (max-width: 991px) {
.nav {
padding: 15px 20px;
}
section {
padding: 3rem 0 1rem;
}
.home-text {
padding-left: 2rem;
}
.home-text h1 {
font-size: 2.1rem;
}
}
@media (max-width: 920px) {
#search-icon {
color: var(--text-color);
}
}
@media (max-width: 768px) {
.search-box input {
padding: 15px;
}
.nav {
padding: 10px 0;
}
#menu-icon {
display: initial;
}
.navbar {
position: absolute;
top: 100%;
right: 0;
left: 0;
display: flex;
flex-direction: column;
background: var(--bg-color);
row-gap: 0.5rem;
text-align: center;
box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
clip-path: circle(0% at 0% 0%);
transition: 0.6s;
}
.navbar a {
display: block;
padding: 15px;
}
.navbar a:hover,
.navbar .active {
border-bottom: none;
background: var(--main-color);
color: var(--bg-color);
}
.navbar.active {
clip-path: circle(144% at 0% 0%);
}
.blog-container .box {
padding: 4px;
}
}
@media (max-width: 727px) {
.heading span {
font-size: 0.9rem;
}
.heading h2 {
font-size: 1.4rem;
}
.about {
flex-direction: column-reverse;
}
.about-text {
text-align: center;
}
.about-text h2 {
font-size: 1.4rem;
}
}
@media (max-width: 607px) {
.footer-container {
display: grid;
grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 360px) {
.search-box input {
padding: 11px;
}
.home {
min-height: 500px;
}
.home-text h1 {
font-size: 2rem;
}
.home-text p br {
display: contents;
}
} 


/* Navbar bootrap  */

a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
   
  }



.card{
    display: inline-block;     
    margin-left: 1.25rem;    
    align-items: center;
    margin-top: 1.25rem;   
    
  }


  /* CSS POUR LES PRODUITS SOUS LES FICHES PRODUITS  */

body {
	background: #e2eaef;
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #7ac400;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}






