{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block contact %}

    {{ include('contact/_form.html.twig') }}
    
    {# button dans contact qui permettait le retour a la liste
    <a href="{{ path('app_contact_index') }}">back to list</a> #} 
{% endblock %}

{% block footer %}
{% endblock %}