{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <h1>Comment on pourrait vous aidez ?</h1>

    

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_contact_index') }}">back to list</a>
{% endblock %}
