{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}

    {{ include('contact/_form.html.twig') }}
    <br>
    <br>
    <br>
    <br>
    {# button dans contact qui permettait le retour a la liste
    <a href="{{ path('app_contact_index') }}">back to list</a> #} 
{% endblock %}
