{% extends "base.html.twig" %}

{% block sectionHome %}

	{# SECTION HEADER  #}

    <section class="home" id="home">
		<div class="jumbotron pt-4 m-5" id="home-text"> <h1 class="display-4">Bienvenue chez HorizonCar</h1>
		<p class="lead">Découvrez le summum du luxe automobile avec notre sélection exclusive de véhicules.  <br> Chez HorizonCar, nous célébrons l'élégance et le raffinement. <br>
		 Chaque voiture que nous proposons incarne le luxe moderne, <br> alliant technologie de pointe, design sophistiqué et performances exceptionnelles.</p>
		<hr class="my-4">
		<a class="btn btn-danger btn-lg m-5" href="/vehicules" role="button">Découvrir</a>
	    </div>

    </section>

	<!--cars section-->
	<section class="cars" id="cars">
		<div class="heading">
			<span>La collection</span>
			<h2>Découvrez nos marques</h2>
			
		</div>
		<!--Cars container-->
		<div
			class="cars-container container">

			<div class="box">
				<a href=""><img src="img/mercedes.jpg" alt=""></a>
				<h2>Mercedes</h2>
			</div>
			
			<div class="box">
				<a href=""><img src="img/porsche.jpg" alt=""></a>
				<h2>Porche</h2>
			</div>
						
			<div class="box">
				<a href=""><img src="img/car3.jpg" alt=""></a>
				<h2>Audi</h2>
			</div>
		
			<div class="box">
				<a href=""><img src="img/bmw.jpg" alt=""></a>
				<h2>Bmw</h2>
			</div>
		
			<div class="box">
				<a href=""><img src="img/ford.jpg" alt=""></a>
				<h2>Ford</h2>
			</div>
		
			<div class="box">
				<a href=""><img src="img/chevrolet.jpg" alt=""></a>
				<h2>Chevrolet</h2>
			</div>

		</div>

	</section>

	<!--About-->
	<section>
		<section class="about container" id="about">
			<div class="about-img">
				<img src="img/about.png" alt="">
			</div>
			<div class="about-text">
				<span>A propos de nous</span>
				<h2>Les meilleurs offres du marché</h2>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, fugit hic molestias numquam voluptate, dolores sit dolorem quisquam maiores.</p>
				<!--About Button-->
				<a href="/apropos" class="btn">En savoir plus</a>
			</div>
		</section>
	</section>

            {# LA PARTIE PIECE DETACHE #}

	 <!--parts section-->
	<section class="parts" id="parts">
		<div class="heading">
			<span>Nos produits sont de qualité supérieure, à des prix abordables.</span>
			<h2>Retrouvez les pièces détachées dont vous avez besoin.</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, fugit hic molestias numquam voluptate, dolores sit dolorem quisquam maiores.</p>
		</div>
		<!--parts container-->
		<div class="parts-container container">
			<!--Box 1-->

			<div class="box">
				<img src="img/part1.png" alt="">
				<h3>Pièces de rechange auto</h3>
				<span>€130.99</span>
                <br>
				<a href="#" class="btn">Acheter</a>
				<a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a>

			</div>

			<!--Box 2-->

			<div class="box">
				<img src="img/part2.png" alt="">
				<h3>Pièces de rechange auto</h3>
				<span>€130.99</span>
                <br>
				<a href="#" class="btn">Acheter</a>
				<a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a>

			</div>

			<!--Box 3-->

			<div class="box">
				<img src="img/part3.png" alt="">
				<h3>Pièces de rechange auto</h3>
				<span>€130.99</span>
                <br>
				<a href="#" class="btn">Acheter</a>
				<a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a>

			</div>

			<!--Box 4-->

			<div class="box">
				<img src="img/part4.png" alt="">
				<h3>Pièces de rechange auto</h3>
				<span>€130.99</span>
                <br>
				<a href="#" class="btn">Acheter</a>
				<a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a>

			</div>

			<!--Box 5-->

			<div class="box">
				<img src="img/part5.png" alt="">
				<h3>Pièces de rechange auto</h3>
				<span>€130.99</span>
                <br>				
                <a href="#" class="btn">Acheter</a>
				<a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a>

			</div>

			<!--Box 6-->

			<div class="box">
				<img src="img/part6.png" alt="">
				<h3>Pièces de rechange auto</h3>
				<span>€130.99</span>
                <br>
				<a href="#" class="btn">Acheter</a>
				<a href="#" class="details"><i class="fa-solid fa-cart-arrow-down"></i></a>
			</div>
		</div>
	</section> 



{# 
	<!--footer-->
	<section class="footer">
		<div class="footer-container container">
			<div class="footer-box">
				<a href="#" class="logo"> <i class="fa-solid fa-car"></i> Horizon<span>Car</span>
				</a>
				<div class="social">
					<a href="#">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-x-twitter"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</div>
			</div>
			<div class="footer-box">
				<h3>Page</h3>
				<a href="{{ path('home') }}">Accueil</a>
				<a href="{{ path('vehicules') }}">Nos voitures</a>
			</div>

			<div class="footer-box">
				<h3>Legal</h3>
				<a href="#">Privacy</a>
			</div>

			<div class="footer-box">
				<h3>Contact</h3>
                <p>04 54 08 09 92</p>
                <p>contact@horizoncar.fr</p>
				<p>Lyon</p>
			</div>
		</div>
	</section>

	<!--Copyright-->
	<div class="copyright">
		<p>&#169; HorizonCar</p>
	</div> #}


{% endblock %}
