{% extends 'base.html.twig' %}

{% block title %}Nos vehicules
{% endblock %}

{% block body %}


	<section class="">


		<div class="heading2">
			<h2>Plongez dans notre vaste sélection de véhicules !</h2>
			<p>HorizonCar, commandez et financez votre voiture entièrement en ligne et faites-vous livrer à domicile ou dans l'une de nos concessions.</p>
		</div>

{# row-cols-lg-5 g-2 g-lg-3 #}

<div class="container">
    <div class="row row-cols-2 ">
        <div class="col">
            <div class="">
                <div class="card" style="width: 28rem;">
				{# DEBUT BOUCLE FOR AFIN DE RECUPERER LES DONNEES DANS LA BDD #}
				{# {% for NosVehicules in NosVehicule %} #}

                    <img src="/img/bmw.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">BMW x6</h5>
                        <h6 class="card-subtitle mb-2 text-muted">23,889€</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Mise en circulation:</li>
                            <li class="list-group-item">Kilométrage:</li>
                            <li class="list-group-item">Carburant:</li>
                        </ul>
                        <a href="#" class="btn mr-2">
                            <i class="fa-solid fa-eye"></i> Voir
                        </a>
                        <a href="#" class="btn">
                            <i class="fa-solid fa-phone"></i> Contact
                        </a>
                    </div>

				{# {% endfor %} #}

                </div>
            </div>
        </div>


		<div class="col">
            <div class="">
                <div class="card" style="width: 28rem;">
                    <img src="img/bmw.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BMW x6</h5>
                        <h6 class="card-subtitle mb-2 text-muted">23,889€</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Mise en circulation:</li>
                            <li class="list-group-item">Kilométrage:</li>
                            <li class="list-group-item">Carburant:</li>
                        </ul>
                        <a href="#" class="btn mr-2">
                            <i class="fa-solid fa-eye"></i> Voir
                        </a>
                        <a href="#" class="btn">
                            <i class="fa-solid fa-phone"></i> Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

							
			
			




			{# <div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img src="img/bmw.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn mr-2">
							<i class="fa-solid fa-eye"></i>
						</i>
						Voir</a>
					<a href="#" class="btn">
						<i class="fa-solid fa-phone"></i>
						Contact</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="img/bmw.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn mr-2">
						<i class="fa-solid fa-eye"></i>
					</i>
					Voir</a>
				<a href="#" class="btn ">
					<i class="fa-solid fa-phone"></i>
					Contact</a>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
			<img src="img/bmw.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn mr-2">
					<i class="fa-solid fa-eye"></i>
				</i>
				Voir</a>
			<a href="#" class="btn">
				<i class="fa-solid fa-phone"></i>
				Contact</a>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="card" style="width: 18rem;">
		<img src="img/bmw.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn mr-2">
				<i class="fa-solid fa-eye"></i>
			</i>
			Voir</a>
		<a href="#" class="btn">
			<i class="fa-solid fa-phone"></i>
			Contact</a>
	</div>
</div></div><div class="col-md-4">
<div class="card" style="width: 18rem;">
	<img src="img/bmw.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">Card title</h5>
		<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<a href="#" class="btn mr-2">
			<i class="fa-solid fa-eye"></i>
		</i>
		Voir</a>
	<a href="#" class="btn">
		<i class="fa-solid fa-phone"></i>
		Contact</a>
</div></div></div><div class="col-md-4"><div class="card" style="width: 18rem;">
<img src="img/bmw.jpg" class="card-img-top" alt="...">
<div class="card-body">
	<h5 class="card-title">Card title</h5>
	<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	<a href="#" class="btn mr-2">
		<i class="fa-solid fa-eye"></i>
	</i>
	Voir</a>
<a href="#" class="btn">
	<i class="fa-solid fa-phone"></i>
	Contact</a></div></div></div><div class="col-md-4"><div class="card" style="width: 18rem;"><img src="img/bmw.jpg" class="card-img-top" alt="..."><div class="card-body">
<h5 class="card-title">Card title</h5>
<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="#" class="btn mr-2">
	<i class="fa-solid fa-eye"></i>
</i>
Voir</a><a href="#" class="btn">
<i class="fa-solid fa-phone"></i>
Contact</a></div></div></div><div class="col-md-4"><div class="card" style="width: 18rem;"><img src="img/bmw.jpg" class="card-img-top" alt="..."><div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#" class="btn mr-2">
<i class="fa-solid fa-eye"></i></i>Voir</a><a href="#" class="btn btn-primary"><i class="fa-solid fa-phone"></i>Contact</a></div></div></div><div class="col-md-4"><div class="card" style="width: 18rem;"><img src="img/bmw.jpg" class="card-img-top" alt="..."><div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#" class="btn mr-2"><i class="fa-solid fa-eye"></i></i>Voir</a><a href="#" class="btn"><i class="fa-solid fa-phone"></i>Contact</a></div></div></div><div class="col-md-4"><div class="card" style="width: 18rem;"><img src="img/bmw.jpg" class="card-img-top" alt="..."><div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#" class="btn mr-2"><i class="fa-solid fa-eye"></i></i>Voir</a><a href="#" class="btn"><i class="fa-solid fa-phone"></i>Contact</a></div></div></div><div class="col-md-4"><div class="card" style="width: 18rem;"><img src="img/bmw.jpg" class="card-img-top" alt="..."><div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="#" class="btn mr-2"><i class="fa-solid fa-eye"></i></i>Voir</a><a href="#" class="btn"><i class="fa-solid fa-phone"></i>Contact</a></div></div></div></div> </div></section>

#}
{% endblock %} 
