{% extends 'base.html.twig' %}
{% block edit %}
    {{ form_start(form) }}
        <p>email: {{ form_widget(form.mail) }}
        <p>password: {{ form_widget(form.password) }} </p>
    {{ form_end(form) }}
{%  endblock %}