
{% block body %}

<div class="container bootstrap snippets bootdey p-5"> 
       
{{ form_start(form) }}
 <h5>Voulez-vous modifier votre profil ?</h5>
 <br>

	 {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Appliquer') }}</button>

{{ form_end(form) }}
</div>    

{% endblock %}
