{% extends "base.html.twig" %}

{% block detail %}
    <p>Email:{{user.mail}}</p>
    <p>password: {{user.password}}</p>
    <button><a href="{{ path('user_delete', {
        'id': user.id,
        'method': 'DELETE'
    })}}">Supprimer</a></button>
{% endblock %}
