{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}

   
<div class="container bootstrap snippets bootdey p-5">
 <div class="mb-5"><a href="{{ path('app_logout') }}">Deconnexion</a></div>
<div class="panel-body inf-content p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Nom                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{user.nom}}     
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                Mail                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            {{user.mail}}   
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                Mot de passe                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            ***********
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                Adresse                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            127 rue marie paradis, 69006 Lyon
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                created                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            20 jul 20014
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                Modified                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                             20 jul 20014 20:00:00
                        </td>
                    </tr>                                    
                </tbody>
            </table>
            </div>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
        </div>
    </div>
</div>


</div>                                        
{% endblock %}
